* text=auto
.gitattributes text eol=lf

*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.cypher text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.csv text eol=lf
*.txt text eol=lf